@font-face {
    font-family: "Righteous";
    src: url("../Fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("../Fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "JosefinSans-Italic";
    src: url("../Fonts/JosefinSans-Italic-VariableFont_wght.ttf");
}

:root{
    --morado-principal: rgb(99, 95, 237);
    --morado-secundario: rgb(67, 71, 208);
    --amarillo-nacho: rgb(255, 145, 77);
    --amarillo-claro: rgb(248, 223, 147);
    --morado-oscuro: rgb(36, 33, 174);
    --lila: rgb(174, 170, 254);
    --beige: rgb(252, 209, 203);
    --beige-oscuro: rgb(209, 159, 154);
}

html, body{
    background-color: var(--lila);
    height: 0%;
    padding-top: 37px; /*Espacio para el nav*/
}
/* Navegador */

#idNav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    background-color: var(--morado-principal);
    box-shadow: 0 0 10px var(--morado-secundario);
    font-family: 'Trebuchet MS';
}

#btnLogo{
    background: none;
    border: none;
    margin: -3px 5px 5px 10px;
}

#idNavLinks{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#idNavLinks a.nav-link.active{
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--beige);
    border-bottom: 2px var(--beige) solid;
    padding-bottom: 2px;
}

a.nav-link{
    font-size: 20px;
    color: white;
}

a.nav-link:hover{
    color: var(--beige);
}

div.container-fluid{
    padding: 0;
    font-family: "Trebuchet MS";
}
.cuerpo {
    display: flex; 
    align-items: flex-start; 
}

#dashboard {
    margin: 20px;
    padding: 20px;
    width: 69%;
    border-radius: 20px;
    background-color: var(--beige);
}

#Busqueda{    
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--beige);
}

h1 {
    text-align: center;
    font-family: "Righteous";
    color: var(--morado-secundario);
}

/* Cursos */

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.course {
    background-color: var(--morado-secundario);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.course h2 {
    margin-top: 10px;
    font-family: "Righteous";
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 19ch;
}

.course p {
    font-family: "JosefinSans";
    font-size: 18px;
    margin-bottom: -5px;
}

.course img {
    width: 240px;
    border-radius: 5px;
}

.course:hover {
    background-color: var(--morado-oscuro);
}

/*Modal de curso*/
#idModalDashboard.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    word-wrap: break-word; 
}

.modal.dashboard img {
    width: 100%;
    padding: 20px;
    object-fit: cover;
    border-radius: 30px;
}

.dashboard .modal-content {
    background-color: var(--beige)!important;
    text-align: center;
    margin: 2% auto;
    padding: 30px;
    border: none;
    width: 70%;
    max-width: 570px;
}

.dashboard .modal-content h2{
    font-family: "Righteous";
    color: var(--morado-secundario);
}

.dashboard .modal-content p{
    font-family: "JosefinSans-Italic";
    font-size: 20px;
    font-weight: 350;
    padding-block: 5px;
    padding-inline: 15px;
    color: var(--morado-oscuro);
    background-color: #ffff;
    border-radius: 30px;
}

#modal-description{
    font-family: "JosefinSans";
}

.dashboard .category-price{
    display: flex;
    justify-content: space-between;
}

.dashboard .category-price p{
    font-size: 18px;
}

#modal-publisher::before{
    content: 'Publicado por: ';
}

#modal-category::before{
    content: 'Categoría: ';
}

#modal-price::before{
    content: 'Precio: ';
}

#modal-publisher::before,
#modal-category::before,
#modal-price::before{
    font-weight: 600;
}

#btnCurso{
    background-color: var(--morado-secundario);
    color: var(--beige);
    border: none;
    float: right;
    font-size: 20px;
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 10px;
    transition: 150ms all;
}
#btnCurso:hover{
    background-color: var(--morado-principal);
}

.dashboard .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dashboard .close:hover,
.dashboard .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Busqueda*/

/* Apartados de filtros */

/* Checkboxes*/
input[type="checkbox"]:checked{
    background-color: var(--amarillo-nacho);
    border: none;
}

/* Subtitulos y contenedores */
h3{
    background: linear-gradient(to bottom right, rgb(67, 71, 208) 0%, rgb(36, 33, 174) 100%);
    text-align: center;
    font-family: "JosefinSans";
}

h3, #idFiltros{
    color: white;
    border-radius: 20px;
    padding-block: 15px;
    padding-inline: 20px;
}

#idFiltros{
    background: linear-gradient(to bottom right, rgba(99, 95, 237,1) 0%, rgba(67, 71, 208,1) 100%);
    margin-bottom: 12px;
}

h5{
    background: linear-gradient(to left, rgba(99, 95, 237,0) 0%, var(--beige) 100%);
    color: var(--morado-secundario);
    margin-inline: -20px;
    padding-inline: 20px;
    padding-block: 10px;
    font-family: "JosefinSans-Italic";
}

#idInputs label{
    display: block;
    font-size: 18px;
    margin-left: 10px;
    margin-top: -4px;
}

#idInputs input{
    border-radius: 15px;
    width: 100%;
    padding-block: 5px;
    padding-inline: 10px;
    border: none;
    font-weight: 100px;
}

#idInputs input:focus{
    background-color: beige;
    outline: none;
}

#idInputs input:first-child{
    margin-bottom: 8px;
}

/* Filtro de fechas */
#idFiltros .fechas{
    flex-direction: row;
    justify-content: space-between;
}

.fechas input{
    width: 70%;
    border-radius: 15px;
    padding: 5px;
    border: none;
    font-weight: 100px;
    margin-bottom: 10px;
}

.fechas input:focus{
    background-color: beige;
    outline: none;
}

/* Categorias */
#idFiltros .categorias .list-group-item{
    background-color: transparent;
    margin-inline: -20px;
    padding-inline: 20px;
    border-color: white;
    color: white;
}

#idFiltros .categorias .list-group-item:first-child{
    margin-top: -7px;
}

/* Modal de Info de Categoria */

#btnInfoCategoria{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0;
}

#btnInfoCategoria img{
    width: 25px;
    margin-left: 5px;
}

#idCategoriaModal .modal-content{
    background: linear-gradient( to bottom, var(--amarillo-claro) 0%, var(--amarillo-nacho) 60%);
    border: none;
    color: white;
}

#idCategoriaModal h5.modal-title{
    margin-inline: -30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to left, rgba(99, 95, 237,0) 0%, var(--morado-principal) 100%);
    color: white;
}

#idCategoriaModal .modal-header button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: brown;
}

#idCategoriaModal .modal-header img{
    width: 20px;
    margin-top: -3px;
}

#idCategoriaModal .modal-footer{
    font-family: "JosefinSans-Italic";
}

#idCategoriaModal .modal-footer div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

/* Categorias */
#idFiltros .categorias .list-group-item{
    background-color: transparent;
    margin-inline: -20px;
    padding-inline: 20px;
    border-color: white;
    color: white;
}

#idFiltros .categorias .list-group-item:first-child{
    margin-top: -7px;
}
/* Modal de eliminacion */
#idEliminarModal .modal-contentt{
    background: linear-gradient( to bottom, var(--amarillo-nacho) 0%, var(--morado-secundario) 65%);
    border: none;
    color: white;
}

#idEliminarModal h5.modal-title{
    background: linear-gradient(to left, rgba(99, 95, 237,0) 0%, brown 100%);
}

#idEliminarModal .btn-success{
    background: linear-gradient(to left top, var(--morado-secundario) 0%,rgb(67, 181, 133) 100%);
}

#idEliminarModal .btn-danger{
    background: linear-gradient(to left top, var(--morado-secundario) 0%, rgb(197, 69, 69) 100%);
}

#idCategoriaG{
    display: flex;
    justify-content: center;
}

#idCategoriaG button{
    background-color: var(--beige);
    color: var(--morado-secundario);
    border-radius: 15px;
    padding-inline: 10px;
    padding-block: 5px;
    margin-top: 3px;
    border: none;
    font-size: 20px;
    transition: 150ms all;
}

#idCategoriaG button:hover{
    background-color: var(--beige-oscuro);
    color: var(--morado-oscuro);
}

/* Footer */
iframe{
    width: 100% !important;
    height: auto !important;
    border: none;
}

.footer {
    display: block;
    overflow: hidden;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 10px;
    border: none;
}

iframe.footer {
    width: 100%;
    height: auto;
    border: none;
}

