@font-face {
    font-family: "Righteous";
    src: url("../Fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("../Fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "JosefinSans-Italic";
    src: url("../Fonts/JosefinSans-Italic-VariableFont_wght.ttf");
}

:root{
    --morado-principal: rgb(99, 95, 237);
    --morado-secundario: rgb(67, 71, 208);
    --amarillo-nacho: rgb(255, 145, 77);
    --amarillo-claro: rgb(248, 223, 147);
    --morado-oscuro: rgb(36, 33, 174);
    --lila: rgb(174, 170, 254);
    --beige: rgb(252, 209, 203);
    --beige-oscuro: rgb(209, 159, 154);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Navegador */

#idNav{
    background-color: var(--morado-principal);
    box-shadow: 0 0 10px var(--morado-secundario);
    font-family: 'Trebuchet MS';
}

#btnLogo{
    background: none;
    border: none;
    margin: -3px 5px 5px 10px;
}

#idNavLinks{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#idNavLinks a.nav-link.active{
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--beige);
    border-bottom: 2px var(--beige) solid;
    padding-bottom: 2px;
}

a.nav-link{
    font-size: 20px;
    color: white;
}

a.nav-link:hover{
    color: var(--beige);
}

div.container-fluid{
    padding: 0;
    font-family: "Trebuchet MS";
}

/* Contenedor */
.container-fluid{
    flex: 1;
}

/* Subtitulo */
#idSubtitulo{
    background: radial-gradient(circle, var(--amarillo-nacho) 0%, rgba(248, 223, 147,0) 90%);
    text-align: center;
    color: white;
}

#idMain{
    background: radial-gradient(circle, rgba(252, 209, 203, 0.66) 0%, var(--morado-secundario) 100%);
    height: max-content;
    border-radius: 40px;
    padding-inline: 15px;
}

/* video del nivel */

#videoNivel{
    padding: 15px 45px;
    display: grid;
}

#bordeVideo{
    background: linear-gradient(to left top, var(--amarillo-nacho) 0%, var(--amarillo-claro) 100%);
    justify-self: center;
    padding: 10px;
    border-radius: 20px;
}

#videoNivel video{
    border-radius: 20px;
    justify-self: center;
}

#tituloNivel{
    background: linear-gradient(to bottom right, rgb(67, 71, 208) 0%, rgb(36, 33, 174) 100%);
    color: white;
    border-radius: 20px;
    margin-left: 25px;
    padding-block: 15px;
    padding-inline: 20px;
    font-family: "JosefinSans";
    height: max-content;
}

/* Info del instructor */

h3, #infoInstructor{
    color: white;
    border-radius: 20px;
    margin-left: 25px;
    padding-block: 15px;
    padding-inline: 20px;
}

#infoInstructor{
    background: linear-gradient(to bottom right, rgba(99, 95, 237,1) 0%, rgba(67, 71, 208,1) 100%);
    margin-bottom: 12px;
    margin-top: 25px;
}

#infoInstructor span{
    margin-left: 25px;
}

#idAvatarSample{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-block: 15px;
}

/* lista niveles */
#listaNiveles{
    display: grid;
}

.listaNivelesHeaders{
    margin-top: 25px;
}

#info{
    color: white;
    border-radius: 20px;
    margin-left: 25px;
    padding-block: 15px;
    padding-inline: 20px;
    background: linear-gradient(to bottom right, var(--amarillo-nacho) 0%, var(--amarillo-claro) 100%);
    margin-bottom: 12px;
    margin-top: 25px;
}

h3 {
    background: linear-gradient(to bottom right, rgb(67, 71, 208) 0%, rgb(36, 33, 174) 100%);
    text-align: center;
    font-family: "JosefinSans";
    margin-left: 0px;
}

.NivelCompletado, .NivelCompletado:hover{
    font-style: italic;
    font-weight: bold;
}

.btn.ver{
    font-size: 20px;
    background: linear-gradient(to left top, var(--morado-oscuro) 0%, var(--morado-secundario) 100%);
    color: white;
    border: none;
}

table{
    display: flex;
    text-align: center;
    margin-block: 12px;
    margin-inline: 15px;
    overflow-y: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
    color: white;
    justify-self: center;
}

tr{
    height: 56px;
}

td{
    background-color: var(--morado-principal);
    font-size: 18px;
}

tr td{
    transition: 100ms all;
}

tr:hover td{
    background-color: var(--amarillo-claro);
    color: var(--morado-principal);
    cursor: pointer;
}

th, td{
    padding-inline: 15px;
    padding-block: 7px;
}

td:first-child,
th:first-child {
  border-radius: 30px 0 0 30px;
}
td:last-child,
th:last-child {
  border-radius: 0 30px 30px 0;
}

/* Footer */
iframe{
    width: 100% !important;
    height: auto !important;
    border: none;
}

.footer {
    display: block;
    overflow: hidden;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 10px;
    border: none;
}

iframe.footer {
    width: 100%;
    height: auto;
    border: none;
}
