@font-face {
    font-family: "Righteous";
    src: url("../Fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("../Fonts/JosefinSans-VariableFont_wght.ttf");
}

:root{
    --morado-principal: rgb(99, 95, 237);
    --morado-secundario: rgb(67, 71, 208);
    --amarillo-nacho: rgb(255, 145, 77);
    --morado-oscuro: rgb(36, 33, 174);
    --lila: rgb(174, 170, 254);
    --beige: rgb(252, 209, 203);
    --beige-oscuro: rgb(209, 159, 154);
}

html, body{
    background-image: linear-gradient(to top, #635fed, var(--morado-oscuro));
    height: 100vh;
}

/* Navegador */

#idNav{
    background-color: var(--amarillo-nacho);
    box-shadow: 0 0 20px var(--morado-oscuro);
    font-family: 'Trebuchet MS';
}

#btnLogo{
    background: none;
    border: none;
    margin: -3px 5px 5px 10px;
}

#idNavLinks{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#idNavLinks a.nav-link.active{
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--morado-principal);
    border-bottom: 2px var(--morado-principal) solid;
    padding-bottom: 2px;
}

a.nav-link{
    font-size: 20px;
    color: white;
}

a.nav-link:hover{
    color: var(--morado-principal);
}

/*Contenedor*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
}
/* Titulo */
#idRegister h1{
    background: radial-gradient(circle, rgba(209,159,154,0.4) 0%, rgba(255, 145, 77,0.7) 100%);
    box-shadow: 0 7px 10px rgba(31, 51, 71, 0.5);
    color: white;
    padding: 25px;
    border-radius: 20px;
    margin-block: 20px;
    font-family: "Righteous";
    text-align: center;
}

/* Avatar */
#idAvatarSample{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

form div.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar input{
    background-color: var(--lila);
    color: var(--morado-secundario);
    border: none;
}

.avatar input:focus{
    background-color: var(--lila);
    color: var(--morado-secundario);
    outline: none;
}

/* Forms */
form{
    background: radial-gradient(circle, rgba(209,159,154,0.4) 0%, rgba(255, 145, 77,0.7) 100%);
    box-shadow: 0 7px 10px rgba(31, 51, 71, 0.5);
    color: white;
    padding: 30px;
    border-radius: 20px;
}

form a{
    display: flex;
    justify-content: center;
    align-items: center;
}

small.form-text{
    color: var(--beige);
    margin-left: 9px;
}

h2{
    font-family: "JosefinSans";
    font-weight: 100;
}

#idInputs label, .subtitle{
    display: block;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

#idInputs input{
    border-radius: 15px;
    margin-top: 3px;
    width: 100%;
    padding-block: 5px;
    padding-inline: 10px;
    border: none;
    font-weight: 100px;
}

#idInputs input:focus{
    background-color: beige;
    outline: none;
}

#idRB{
    margin-left: 10px;
}

input[type="radio"]:checked{
    background-color: var(--morado-secundario);
    border: none;
    outline: none;
    margin-right: 5px;
}

#idRol{
    background-color: var(--lila);
    color: var(--morado-secundario);
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: 200ms;
    border: none;
    outline: none;
}

#idRol:hover{
    background-color: var(--morado-principal);
    color: white;
}

#idRol:focus{
    background-color: var(--morado-principal);
    color: white;
}

#idRol .item-1{
    color: white;
    background-color: var(--morado-oscuro);
}

#idRol option{
    color: black;
}

#btnRegister{
    background-color: var(--morado-secundario);
    border-radius: 20px;
    padding-inline: 15px;
    padding-block: 5px;
    border: none;
    color: white;
    font-size: 25px;
    width: 100%;
    transition: all 200ms;
    margin-top: 20px;
}

#btnRegister:hover{
    background-color: var(--morado-oscuro);
    transition: all 200ms;
}